flexvideo()
  position: relative
  padding-bottom: 56.25%
  height: 0
  overflow: hidden
  margin: auto
  > iframe, > object, > embed, > video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    
video-container($max-width = 800px)
  position: relative
  max-width: $max-width
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  &__inner
    flexvideo()
