@mixin hamburger($size: 30px, $size-inner-width: 70%, $size-inner-height: 2px, $size-inner-offset: 8px){
  @include square($size);

  &__inner,
  &__inner:before,
  &__inner:after {
    position: absolute;
    display: block;
    height: $size-inner-height;
    background: #fff;
  }
  &__inner {
    top: 50%;
    left: 50%;
    width: $size-inner-width;
    transform: translate(-50%, -50%);
  }
  &__inner:before,
  &__inner:after {
    width: 100%;
    content: '';
  }
  &__inner:before { bottom: $size-inner-offset; }
  &__inner:after { top: $size-inner-offset; }
}
