@mixin load-font($font-name, $fontfolder, $font-file, $font-weight: normal, $font-style: normal, $font-svg-id: $font-name) {
  @font-face {
    font-weight: $font-weight;
    font-style: $font-style;
    font-family: $font-name;
    src: font($fontfolder + '/' + $font-file + '.eot');
    src: font($fontfolder + '/' + $font-file + '.eot?#iefix') format('embedded-opentype'),
         font($fontfolder + '/' + $font-file + '.woff2') format('woff2'),
         font($fontfolder + '/' + $font-file + '.woff') format('woff'),
         font($fontfolder + '/' + $font-file + '.ttf') format('truetype'),
         font($fontfolder + '/' + $font-file + '.svg#' + $font-svg-id) format('svg');
  }
}
